<h1>Listing products</h1>
<% @areas.select(:city).distinct.select(:street).distinct.each do |area| %>


    <%end%>
<table>
  <thead>
    <tr>
      <th>Product &nbsp &nbsp &nbsp &nbsp</th>
      <th>Contact Id &nbsp &nbsp &nbsp &nbsp</th>
      <th>User &nbsp &nbsp &nbsp &nbsp</th>

      <th>City &nbsp &nbsp &nbsp &nbsp</th>
      <th>Street &nbsp &nbsp &nbsp &nbsp</th>

    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.prod_name %> &nbsp &nbsp &nbsp &nbsp </td>

        <td><%= product.cat_id %> &nbsp &nbsp &nbsp &nbsp  </td>

        <td><%= product.user_id %> &nbsp &nbsp &nbsp &nbsp </td>
        <td> <%Area.where(:product_id => product.id).each do |area| %>
            <%= area.city %> &nbsp
            <%= area.street %> &nbsp
            <%end %>           </td>
        <td><%= link_to 'Show',product %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


