<p id="notice"><%= notice %></p>

<p>
  <strong>prod name:</strong>
  <%= @product.prod_name %>
</p>


<p>
  <strong>Cat:</strong>
  <%= @product.cat_id %>
</p>


<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>




<%= link_to 'Back', products_path %>
