<header class = "navbar navbar-fixed-top navbar-inverse">

  <div class = "navbar-inner">
    <div class = "container">
      <%= link_to "Home" , root_path %>
        <div class = "nav pull-right">




          <% if signed_in? %>

         <p>Hi <%= current_user.name %>
              <%= link_to "Sign out", signout_path, method: "delete" %>
           <% else%>
         <font color: white> <%= link_to "Sign In" , signin_path %></font>
              <%= link_to "Sign Up" ,signup_path %>
              <% end %>


          </p>


        </div>
    </div>
  </div>

</header>
